/* inline doesnt take-in the height and width input */
/* inline-block can */


#div-1{
    background-color: green;
    display: inline;
}

#span-1{
    background-color: purple;
    display: none;
}

#div-2{
    background-color: hotpink;
    display: none;
}

#span-2{
    background-color: red;
    display: block;
}

#img{
    height: 250px;
    width: 250px;
    display: inline-block;
}

#p-1{
    background-color: aqua;
}

#p-2{
    background-color: rgb(255, 105, 180);
    width: 60%;
}

#p-3{
    background-color: yellow;
    width: 40%;
}

.sample{
    display: inline-block;
    width: 30%;
    text-align: center;
    border: 1px solid black;
}

.img-float{
    width: 250px;
    height: 250px;
    float: inherit;
}

.box{
    background-color: red;
    border: 1px solid black;
    margin: 5px;
}

.parent{
    width: 135px;
    border: 1px solid black;
    font-size: 30px;
}

.fifty-percent{
    width: 50%;
}

.one-hundred-pixel{
    width: 100px;
}

.fifty-vw{
    width: 50vw;
}

.twentyfive-vh{
    height: 25vh;
}

.one-rem{
    font-size: 1rem;
}

.two-rem{
    font-size: 2rem;
}

.one-em{
    font-size: 1em;
}

.two-em{
    font-size: 2em;
}

.two-hundred-percent{
    font-size: 200%;
}

.background{
    min-height: 20rem;
    background-color: gray;
    background-image: url(https://cutewallpaper.org/22/your-name-aesthetic-desktop-wallpapers/2954230375.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
}

.bg-title{
    color: white;
    text-align: center;
    font-size: 5em;
    margin: 0;
    line-height: 35rem;
}

.container-bg{
    background-color: rgba(0, 0, 0, 0.5);
}

.parent-element{
    background-color: skyblue;
    padding: 10px;
    position: relative;
    height: 100vh;
}

.child-one{
    background-color: gray;
    padding: 10px;
}

.child-two{
    background-color: yellow;
    padding: 10px;
    position: sticky;
    top: 10px;
}

.child-three{
    background-color: gray;
    padding: 10px;
}

html{
    height: 800vh;
}

.container{
    position: relative;
}

.black-box{
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}

.gray-box{
    position: absolute;
    z-index: 3;
    border: 2px solid black;
    background: lightgray;
    height: 70px;
    width: 50%;
    left: 50px;
    top: 50px;
}

.green-box{
    position: absolute;
    z-index: 2;
    border: 2px solid black;
    background: lightgreen;
    width: 35%;
    height: 100px;
    left: 270px;
    top: -15px;
}