*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    padding: 0.8rem 3rem;
    background-color: white;
    position: sticky;
    top: 0;
}

nav .nav-logo, nav .nav{
    margin: 0.5rem;
    list-style-type: none;
}

nav .nav-logo, nav .right-nav, nav .nav{
    display: inline;
}

nav .right-nav{
    float: right;
}

nav .tuitt-button{
    background-color: #c2195b;
    padding: 0.5rem;
    color: white;
    border-radius: 20px;
    border: none;
}

#bg-image{
    min-height: 30rem;
    background-color: gray;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#bg-image .front-bg{
    width: 100vw;
    min-height: 30rem;
    background-color: rgba(0, 0, 0, 0.5);
}
#bg-image .container{
    width: 30%;
    float: right;
    text-align: right;
    color: white;
    
    margin-top: 0.5rem;
    margin-right: 2rem;
}

#bg-image .title{
    font-size: 3rem;
    font-family:'Zilla Slab', serif;
    margin-bottom: 1rem;
}

#bg-image .subtitle{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

#bg-image .apply-button{
    background-color: #c2195b;
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 20px;
    border: none;
}

.intro{
    text-align: center;
    margin: 5rem 0;
    padding: 0 5rem;
}

.intro .title-2, .pre-footer .title-2{
    margin-bottom: 1rem;
    font-family:'Zilla Slab', serif;
}

.pre-footer{
    text-align: center;
    margin-top: 5rem;
    padding: 1rem 5rem;
    background-color: #f7fbfb;
}

.pre-footer .book-button{
    background-color: #336589;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 20px;
    border: none;
    margin: 1rem 0;
}

footer{
    margin-top: 0.5rem;
    text-align: center;
}